@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600|Roboto Mono");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");

body {
  
    font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif,  Open Sans;
    font-size: 14px;
    line-height: 1.42857;
    height: 350px;
    padding: 0;
    margin: 0;
    background-color: #f1f1f1;
}

.first-box{
  padding: 10px;
  background: #39F;
}

.second-box{
  padding: 10px; 
  background: #ffc107;
}

.third-box{
  padding: 10px;
  background: #6CC; 
  /*or background --> #00bdaa (UEL colour greenish)*/
}

#counter {
    padding: 2px;
    border: 1px solid #eee;
    font: 1em 'Trebuchet MS',verdana,sans-serif;
    color: black;
    /*or font colour --> #777 (greyish but looks like it clashes with background)*/
    border: none;
}

.navbar-form .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
    margin-top: 0px;
}

.navbar-nav {
    float: left;
    margin: 0;
    margin-left: 350px;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.pager {
  text-align: center;
  margin: -5px 1250px 0 0;
}

.navbar-inverse .navbar-nav>li>a {
    color: #9d9d9d;
    border: none!important;
    font-size: 12px;
    text-transform: uppercase;
    color: #ececec;
    font-family: "Raleway","Helvetica Neue","Helvetica","Roboto","Arial",sans-serif;
    font-feature-settings: "lnum";
    font-variant-numeric: lining-nums;
}

div {
    display: block;
}

.navbar-inverse {
    background-color: #363636;
    border-color: #080808;
    height: 75px;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
}

#container1 {
  margin-top: -65px;
  margin-bottom: 50px;
  margin-left: 255px
}

.nav ul {
    list-style: none;
    background-color: black;
    text-align: center;
    padding: 0;
    margin: auto;
    z-index: 1000;
    align-items: center;
}

ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

.nav ul {
  list-style: none;
  background-color: #99CCCC;
  text-align: center;
  padding: 0;
  margin: auto;
  z-index: 1000;
  }

.nav li {
  font-family: 'Gabriola', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  text-align: left;
  }

.nav a {
  text-decoration: none;
  color: #FFFFFF;
  display: block;
  padding-left: 15px;
  border-bottom: 1px solid #888;
  transition: .3s background-color;
  }

.nav a:hover {
  background-color: #005f5f;
}

.nav a:active {
  background-color: #aaa;
  color: #444;
  cursor: default;
}

.footer {
  /*bottom: 0;*/
  width: 100%;
  height: 20%; 
  background: #363636;
  color: white;
  font-size: 12px;
  /*text-align: center;*/
  position: absolute;
}

.wrap { 
  margin-top: -60px;
}

.contact-us {
  padding: 50px;
  background-color: #ffffff;
  box-shadow: -2px 40px 34px -24px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-style: solid;
  border-color: #00bdaa;
}

.form-control {
  /*border: 2px solid transparent;*/
  height: 50px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
}

.search {
  border: 2px solid transparent;
  height: 40px;
  width: 200px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  border-radius: 25px;
  border: 2px solid; 
  text-align: center;
}

.margin-top-bottom {
  margin-top: 100px;
  margin-bottom: 100px;
}

.button1 {
  border-radius: 5px;
  font-size: 17px;
  background: none;
  padding: 20px 60px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
}

.button-style-color-2:hover,
.button-style-color-2:active,
.button-style-color-2:focus {
  color: #ffffff;
  background: #00bdaa;
}

.button-style-dark {
  border: 3px solid #000000;
  color: #000000;
}

/*.pattern-bg {
  background: url(https://s23.postimg.org/klq72xovv/pattern_bg.png);
  background-repeat: repeat;
}*/